<h3>{{title | uppercase}}</h3>
<form action="/addnew" method="POST">
	<label>Name:</label>
	<input type="text" name="name" placeholder="name"/>
	<br>
	<br>
	<label>Category:</label>
	<input type="text" name="category" placeholder="Category"/>
	<br>
	<br>
	<label>Upload image:</label>
	<input type="text" name="imagelink" placeholder="image link"/>
	<br>
	<br>
	<label>Description:</label>
	<input type="text" name="description" placeholder="Description"/>
	<br>
	<br>
	<button type="submit">Submit</button>
</form>