h1 {
	color: #bfbfbf;
}

span:hover {
	color: #ff99c2;
}

.content-my-berries {
	height: 100%;
	width: 70%;
	margin: 0 auto;
	margin-top: 5em;
	text-align: center;
}

.selected {
    background-color: #cfd8ca !important;
    color: white;
}

.berries li {
    cursor: pointer;
    position: relative;
    left: 0;
}

.berries li.selected:hover {
background-color: #607D8B;
}

.berries li:hover {
background-color: #607DaB;
}
